<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="track-match"></ion-back-button>
    </ion-buttons>
    <ion-title>
      General Stats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="title-content">
      <ion-col id="errorType" size="12">
        Serve Stats
      </ion-col>
    </ion-row>
    <ion-row class="stat-content">
      <ion-col id="p1first" size="3">
      </ion-col>
      <ion-col id="first" size="6">
        1st Serve Percentage
      </ion-col>
      <ion-col id="p2first" size="3">
      </ion-col>
    </ion-row>
    <ion-row class="stat-content">
      <ion-col id="p1firstwin" size="3">
      </ion-col>
      <ion-col id="firstwin" size="6">
        1st Serve Won
      </ion-col>
      <ion-col id="p2firstwin" size="3">
      </ion-col>
    </ion-row>
    <ion-row class="stat-content">
      <ion-col id="p1secondwin" size="3">
      </ion-col>
      <ion-col id="secondwin" size="6">
        2nd Serve Won
      </ion-col>
      <ion-col id="p2secondwin" size="3">
      </ion-col>
    </ion-row>
    <br>
    <ion-row class="title-content">
      <ion-col size="3">
        FH/BH
      </ion-col>
      <ion-col size="6">
        Deuce Returns
      </ion-col>
      <ion-col size="3">
        FH/BH
      </ion-col>
    </ion-row>
    <ion-row class="stat-content">
      <ion-col id="p1deuceall" size="3">
      </ion-col>
      <ion-col id="deuceall" size="6">
        All
      </ion-col>
      <ion-col id="p2deuceall" size="3">
      </ion-col>
    </ion-row>
    <ion-row class="stat-content">
      <ion-col id="p1deucefirst" size="3">
      </ion-col>
      <ion-col id="deucefirst" size="6">
        First
      </ion-col>
      <ion-col id="p2deucefirst" size="3">
      </ion-col>
    </ion-row>
    <ion-row class="stat-content">
      <ion-col id="p1deucesecond" size="3">
      </ion-col>
      <ion-col id="deucesecond" size="6">
        Second
      </ion-col>
      <ion-col id="p2deucesecond" size="3">
      </ion-col>
    </ion-row>
    <br>
    <ion-row class="title-content">
      <ion-col size="3">
        FH/BH
      </ion-col>
      <ion-col size="6">
        Ad Returns
      </ion-col>
      <ion-col size="3">
        FH/BH
      </ion-col>
    </ion-row>
    <ion-row class="stat-content">
      <ion-col id="p1adall" size="3">
      </ion-col>
      <ion-col id="adall" size="6">
        All
      </ion-col>
      <ion-col id="p2adall" size="3">
      </ion-col>
    </ion-row>
    <ion-row class="stat-content">
      <ion-col id="p1adfirst" size="3">
      </ion-col>
      <ion-col id="adfirst" size="6">
        First
      </ion-col>
      <ion-col id="p2adfirst" size="3">
      </ion-col>
    </ion-row>
    <ion-row class="stat-content">
      <ion-col id="p1adsecond" size="3">
      </ion-col>
      <ion-col id="adsecond" size="6">
        Second
      </ion-col>
      <ion-col id="p2adsecond" size="3">
      </ion-col>
    </ion-row>
    <br>
    <ion-row class="title-content">
      <ion-col id="errorType" size="12">
        Net Points
      </ion-col>
    </ion-row>
    <ion-row class="stat-content">
      <ion-col id="p1netwon" size="3">
      </ion-col>
      <ion-col id="netwon" size="6">
        Won
      </ion-col>
      <ion-col id="p2netwon" size="3">
      </ion-col>
    </ion-row>
    <ion-row class="stat-content">
      <ion-col id="p1netlost" size="3">
      </ion-col>
      <ion-col id="netlost" size="6">
        Lost
      </ion-col>
      <ion-col id="p2netlost" size="3">
      </ion-col>
    </ion-row>
    <ion-row class="stat-content">
      <ion-col id="p1netpercent" size="3">
      </ion-col>
      <ion-col id="netpercent" size="6">
        Percentage
      </ion-col>
      <ion-col id="p2netpercent" size="3">
      </ion-col>
    </ion-row>
    <br>
    <ion-row class="title-content">
      <ion-col id="errorType" size="12">
        Error Type
      </ion-col>
    </ion-row>
    <ion-row class="stat-content">
      <ion-col id="p1forced" size="3">
      </ion-col>
      <ion-col id="forced" size="6">
        Forced
      </ion-col>
      <ion-col id="p2forced" size="3">
      </ion-col>
    </ion-row>
    <ion-row class="stat-content">
      <ion-col id="p1unforced" size="3">
      </ion-col>
      <ion-col id="unforced" size="6">
        Unforced
      </ion-col>
      <ion-col id="p2unforced" size="3">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
