<ion-header>
  <ion-toolbar>
    <ion-title>Match Tracking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
  <ion-row>
    <ion-col size="1" style="background-color:orange; color:black;">
      <div id="p1serving">
      </div>
    </ion-col>
    <ion-col size="4" style="background-color:orange; color:black;">
      <div id="p1name">
      </div>
    </ion-col>
    <ion-col size="1" style="background-color:orange; color:black;">
      <div class="p1score" id="p1set1">
        0
      </div>
    </ion-col>
    <ion-col size="1" style="background-color:white; color:black;">
      <div class="p1score" id="p1set2">
        0
      </div>
    </ion-col>
    <ion-col size="1" style="background-color:white; color:black;">
      <div class="p1score" id="p1game">

      </div>
    </ion-col>
    <ion-col size="1" style="background-color:white; color:black;">
      <div class="p1score">

      </div>
    </ion-col>
    <ion-col size="1" style="background-color:white; color:black;">
      <div class="p1score">

      </div>
    </ion-col>
    <ion-col size="1" style="background-color:white; color:black;">
      <div class="p1score">

      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1" style="background-color:orange; color:black;">
      <div id="p2serving">
      </div>
    </ion-col>
    <ion-col size="4" style="background-color:orange; color:black;">
      <div id="p2name">
      </div>
    </ion-col>
    <ion-col size="1" style="background-color:orange; color:black;">
      <div class="p2score" id="p2set1">
        0
      </div>
    </ion-col>
    <ion-col size="1" style="background-color:white; color:black;">
      <div class="p2score" id="p2set2">
        0
      </div>
    </ion-col>
    <ion-col size="1" style="background-color:white; color:black;">
      <div class="p2score" id="p2game">
      </div>
    </ion-col>
    <ion-col size="1" style="background-color:white; color:black;">
      <div class="p2score">
      </div>
    </ion-col>
    <ion-col size="1" style="background-color:white; color:black;">
      <div class="p2score">
      </div>
    </ion-col>
    <ion-col size="1" style="background-color:white; color:black;">
      <div class="p2score">
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-input disabled="true" id="shot-counter" [(ngModel)]="shots">
  0
</ion-input>
<ion-button id="submit-shots" class="button-full">Add Point</ion-button>
<ion-button id="increase-shots" class="button-full">+</ion-button>
</ion-content>
