<ion-header>
  <ion-toolbar>
    <ion-title>Match Tracking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll="false">

<div class="box">

<div class="row header">
<ion-grid>
  <ion-row>
    <ion-col size="1" style="background-color:orange; color:black;">
      <div id="p1serving">
      </div>
    </ion-col>
    <ion-col size="4" style="background-color:orange; color:black;">
      <div id="p1name">
      </div>
    </ion-col>
    <ion-col class="set-score" style="background-color:orange; color:black;">
      <div id="p1score0">
        0
      </div>
    </ion-col>
    <ion-col class="game-score" style="background-color:white; color:black;">
      <div id="p1score1">
        0
      </div>
    </ion-col>
    <ion-col class="set-score" style="background-color:white; color:black;">
      <div id="p1score2">

      </div>
    </ion-col>
    <ion-col class="set-score" style="background-color:white; color:black;">
      <div id="p1score3">

      </div>
    </ion-col>
    <ion-col class="set-score" style="background-color:white; color:black;">
      <div id="p1score4">

      </div>
    </ion-col>
    <ion-col class="set-score" style="background-color:white; color:black;">
      <div id="p1score5">

      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1" style="background-color:orange; color:black;">
      <div id="p2serving">
      </div>
    </ion-col>
    <ion-col size="4" style="background-color:orange; color:black;">
      <div id="p2name">
      </div>
    </ion-col>
    <ion-col class="set-score" style="background-color:orange; color:black;">
      <div id="p2score0">
        0
      </div>
    </ion-col>
    <ion-col class="game-score"style="background-color:white; color:black;">
      <div id="p2score1">
        0
      </div>
    </ion-col>
    <ion-col class="set-score" style="background-color:white; color:black;">
      <div id="p2score2">
      </div>
    </ion-col>
    <ion-col class="set-score" style="background-color:white; color:black;">
      <div id="p2score3">
      </div>
    </ion-col>
    <ion-col class="set-score" style="background-color:white; color:black;">
      <div id="p2score4">
      </div>
    </ion-col>
    <ion-col class="set-score" style="background-color:white; color:black;">
      <div id="p2score5">
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="6" offset="0">
      <div id="shot-counter-label">
        Rally Length:
      </div>
    </ion-col>
    <ion-col size="3">
      <div id="shot-counter">
        0
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button id="undo-point" class="button-full">Undo Point</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button id="view-stats" class="button-full">View Stats</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button id="decrease-shots" class="button-full">-</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button id="submit-shots" class="button-full">Submit Point</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</div>


    <ion-button id="increase-shots" class="row content">+</ion-button>



</div>
</ion-content>
