<ion-header>
  <ion-toolbar>
    <ion-title>Match Setup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary">Player 1:</ion-label>
      <ion-input placeholder="Enter Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Player 2:</ion-label>
      <ion-input placeholder="Enter Name"></ion-input>
    </ion-item>
  </ion-list>


</ion-content>

<ion-footer>
  <ion-button id="btnstart" class="button-full">Begin Match</ion-button>
</ion-footer>
