.set-score {
  background-color: orange;
  color: black;
  text-align: center;
}

.game-score {
  background-color: black;
  color: white;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.none-score {
  background-color: white;
  color: black;
  font-size: 15px;
  size: 1;
}

.set-size {
  size: 1;
}

.game-size {
  size: 2;
}
