<ion-header>
  <ion-toolbar>
    <ion-row>
    <ion-col>
      <div>
        <ion-title>Home</ion-title>
      </div>
    </ion-col>
    <ion-col>
      <div id="newMatch" (click)="newMatch()" class="new-match">
        <ion-icon name="add"></ion-icon>
      </div>
    </ion-col>
  </ion-row>



  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let m of matches" (click)="viewMatch(m)" (press)="onPress($event, m)" (pressup)="onPressUp($event, m)">
    <ion-card>
      <ion-card-header>
        {{m.p1name}} vs. {{m.p2name}}
      </ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="scorebox">
            {{m.p1name}}
          </ion-col>
          <ion-col size="1" class="scorebox" *ngFor="let set of m.p1games">
            {{set}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4" class="scorebox">
            {{m.p2name}}
          </ion-col>
          <ion-col size="1" class="scorebox" *ngFor="let set of m.p2games">
            {{set}}
          </ion-col>
        </ion-row>
    </ion-grid>
    </ion-card>
  </ion-list>
</ion-content>
